@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3 my-4">
        <h2 class="my-3 text-center">Управляющая компания "Океан"</h2>
        <div class="text-center">
            <div class="col-5 card shadow">

                <img class="card-img-top" src="~/images/fish.jpg" alt="Лого" />

            </div>
        </div>
    </div>
</div>
