@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Управляющая компания "Океан"</a>
            <div class="row">
                <div class="col-lg-3 my-4">
                    <div class="btn-group-vertical text-center my-2">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">Мои заявки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Create">Создать заявку</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Новости</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="col-lg-9 my-4">
    <form asp-area="" asp-controller="Home" asp-action="Index"></form>
    <div class="row my-4">
        <div class="col-3 card shadow">

            <img class="card-img-top" src="~/images/fish.jpg" alt="Лого" />
        </div>
    </div>
</div>
